 <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Quản Lý Du Lịch</li>
                        <li data-toggle="tooltip" data-placement="right" title="Quản Lý Chung">
                            <a href="index.html" class="waves-effect">
                                <i class="mdi mdi-notification-clear-all"></i>
                                <!-- <span class="badge badge-primary badge-pill float-right">2</span>  -->
                                <span>Tổng Quan</span>
                            </a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-airplane-takeoff"></i>
                                <span> Chuyến Đi Sắp Tới <span class="float-right menu-arrow"><i class="mdi mdi-airplane-takeoff"></i></span>
                                </span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/list-travel">Danh Sách Chuyến Đi</a></li>
                                <li><a href="/init-travel">Tạo Chuyến Đi</a></li>
                            </ul>
                        </li>

                        <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-star-half"></i>
                                <span> Đánh Gía <span class="float-right menu-arrow"><i class="mdi mdi-star-half"></i></span>
                                </span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/list-rating-user">Danh Sách Rating</a></li>
                                <li><a href="">Tạo Rating</a></li>
                            </ul>
                        </li>

                        <li><a href="javascript:void(0);" class="waves-effect"><i class="fab fa-linode"></i>
                                <span> BlockChain Đánh Gía <span class="float-right menu-arrow"><i class="fab fa-linode"></i></span>
                                </span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/list-blockchain-rating">Block Rating</a></li>
                            </ul>
                        </li>
                            
                        <!--
                            <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-check"></i><span> Khách Hàng <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                            <ul class="submenu">
                                <li><a href="">Khách Hàng</a></li>
                                <li><a href="email-read.html">Nhóm Khách Hàng</a></li>
                            </ul>
                        </li>
                        <li data-toggle="tooltip" data-placement="right" title="Bán Hàng">
                            <a href="#" class="waves-effect">
                                <i class="mdi mdi-truck-delivery"></i>
                                <span>Bán Hàng</span>
                            </a>
                        </li>
                        -->
                        <!-- ======= -->
                        <li class="menu-title">Quản Lý Địa Điểm</li>
                        <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-hotel"></i><span> Khách Sạn <span class="float-right menu-arrow"><i class="mdi mdi-hotel"></i></span></span></a>
                            <ul class="submenu">
                                <li><a href="">Tổng Quan</a></li>
                                <li><a href="/list-hotel-travel">Danh Sách Khách Sạn</a></li>
                                <li><a href="/init-hotel-travel">Tạo Khách Sạn</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-message-processing"></i><span> Quản Lý Chat Bot <span class="float-right menu-arrow"><i class="mdi mdi-message-processing"></i></span></span></a>
                            <ul class="submenu">
                                <li><a href="">Tổng Quan</a></li>
                                <li><a href="/list-chatbot">Danh Sách Chat Bot</a></li>
                                <li><a href="">Tạo Chat Bot</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>