
    <!-- jQuery  -->
    <script src="/template/assets/js/jquery.min.js"></script>
    <script src="/template/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/template/assets/js/metisMenu.min.js"></script>
    <script src="/template/assets/js/jquery.slimscroll.js"></script>
    <script src="/template/assets/js/waves.min.js"></script>
    <script src="/template//plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Morris Chart-->
    <script src="/template/plugins/morris/morris.min.js"></script>
    <script src="/template/plugins/raphael/raphael-min.js"></script>
    <script src="/template/assets/pages/dashboard.js"></script>
    <!-- App js -->
    <script src="/template/assets/js/app.js"></script>
    <script src="/template/assets/js/input_upload.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
       
</body>

</html>